{% extends "layout.html" %}
{% block content %}

<div class="wrapper">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Top 100 Songs</a>
            <a class="nav-item nav-link active" href="/graph">Graph a song</a>
            <!-- <a class="nav-item nav-link inactive" href="/spot">Spotify Player</a>  -->
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="row margin-top-50"> 
    <p class="text-center">Check which songs you want in your Spotify playlist</p>
  </div>
  <div>
    <div class="row">
      <div class="col-md-2">
        <aside class="filters">
          <div class="panel panel-default">
            <div class="panel-heading">Song Search</div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <ul class="list-group" id="filters">
                    <li class="filter list-group-item">
                      <label for="date">Select a song Title</label>
                      <select  class="form-control" id="songselect" type="text" placeholder="All">
                      </select>
                    </li>
                    <li class="filter list-group-item">
                      <label for="date">Select a performer</label>
                      <select  class="form-control" id="performerselect" type="text" placeholder="All">
                      </select>
                    </li>
                    <li class="filter list-group-item">
                      <label for="date">Select a peak position</label>
                      <select class="form-control" id="peakselect" type="text" placeholder="All">
                      </select>
                    </li>
                    <li class="filter list-group-item">
                      <label for="shape">Select a week</label>
                      <select  class="form-control" id="weekselect" type="text" placeholder="All">
                      </select>
                    </li>
                  </ul>
                </div>
                <button id="filter-btn1" type="button" class="btn btn-default" onclick='javascript:checkinput()' value='select multiple'>Search Songs</button>
                <hr>
                <button id="filter-btn2" type="button" class="btn btn-default" onclick='javascript:nowCheck()'>Save selections</button>
                <hr>
                <button id="filter-btn3" type="button" class="btn btn-default" onclick='javascript:nowClear()'>Clear list</button>
                <hr>
                <button id="filter-btn4" type="button" class="btn btn-default" onclick='javascript:nowView()'>View list</button>
               </form>
            </div>
          </div>
        </aside>
      </div>
      <div class="col-md-10">
        <div id="table-area" class="table-class">
          <table id="song-table" class="table table-striped">
            <thead>
              <tr>
                <th class="table-head">Song Name</th>
                <th class="table-head">Performer</th>
                <th class="table-head">Peak Position</th>
                <th class="table-head">Year</th>
                <th class="table-head">Number of Weeks on chart</th>
                <th class='table-head'><input type='checkbox' id = 'all' value = 'all'> ALL</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <button id="next-btn-p" type="button disabled" class="btn btn-default" onclick='javascript:nowPrev()'>Previous 100 songs</button>
        <button id="next-btn-n" type="button disabled" class="btn btn-default" onclick='javascript:nowNext()'>Next 100 songs </button>
        <br>
      </div>
    </div>
  </div>
    {% endblock content %}

  {% block content2 %}
  <script src="{{ url_for('static', filename='js/spot2.js') }}"></script>
  {% endblock content2 %}
