{% extends "layout.html" %}
{% block content %}

  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="/">Top 100 Songs</a>
              <a class="nav-item nav-link active" href="/graph">Graph a song</a>
              <a class="nav-item nav-link active" href="/spot2">Spotify information</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="hero text-center">
      <h1>Play your songs</h1>
    </div>
    <h1>Spotify Web Playback SDK Quick Start Tutorial</h1>
    <h2>Open your console log: <code>View > Developer > JavaScript Console</code></h2>
  

    </div>
    {% endblock content %}

  {% block content2 %}
  <script src="{{ url_for('static', filename='js/spot.js') }}"></script>
  {% endblock content2 %}